[submodule "Zmakan-Technical-Solutions/l10n_qa_hr_contract"]
	path = Zmakan-Technical-Solutions/l10n_qa_hr_contract
	url = git@github.com:Zmakan-Technical-Solutions/l10n_qa_hr_contract.git
	branch = 12.0
